<section class="container-fluid" id="content">
  	<div class="row row-eq-height" id="row-content">
		<div class="col-12 col-sm-12 col-md-4 mb-4">
			<div class="card">
				<div class="row card-block">
					<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-1 thumbs">
						<ul class="list-unstyled list-thumbnail">
							<li>
								<img class="img-fluid" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb_600x600-PU98460_1.jpg" alt="Smartphone Apple iPhone 7 128GB">
							</li>
							<li>
								<img class="img-fluid" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_2_c.jpg?v=2347575274" alt="Smartphone Apple iPhone 7 128GB">
							</li>
							<li>
								<img class="img-fluid" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_3_c.jpg?v=318433138" alt="Smartphone Apple iPhone 7 128GB">
							</li>
							<li>
								<img class="img-fluid" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb/__200x400-PU98460_4_c.jpg?v=33273730" alt="Smartphone Apple iPhone 7 128GB">
							</li>
						</ul>
					</div>
					<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-3 img-product-show">
						<img class="img-fluid" src="http://thumbs.buscape.com.br/celular-e-smartphone/smartphone-apple-iphone-7-128gb_600x600-PU98460_1.jpg" alt="Smartphone Apple iPhone 7 128GB">
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
						<h5 class="product-title">Smartphone Apple iPhone 7 128GB <i class="fa fa-heart-o"></i></h5>
						<div class="clear-fix divider"></div>
						<span class="badge badge-primary">MELHOR PREÇO</span>
						<div class="price">
							<div class="row">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
									<h2 class="text-success"><small>10x </small> R$389,90</h2>
									<h5>ou <span class="text-success">R$3.509,10</span> à vista</h5>
								</div>
								<div class="col-12 col-sm-12 col-md-12 col-lg-12col-xl-6">
									<button type="button" class="btn btn-success btn-sm btn-add" data-id="2321312"> 
										Adicionar ao carrinho <i class="fa fa-chevron-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>