<ul class="navbar-nav cart-items">
	<li class="nav-item" *ngFor="let product of products">
		<div class="media">
			<img class="img-thumb" src="{{product.images[0]}}" onError="this.src='/assets/img/no-img.jpg';" alt="{{product.name}}">
			<div class="media-body">
				<h5 class="mt-0">{{product.name}} </h5>
				<span>{{product.price.installments}}x de R$ {{product.price.installmentValue}}</span>
				<span>ou R$ {{product.price.value}} à vista</span>
			</div>
			<span class="remove-item">x</span>
		</div>
	</li>
</ul>
<div class="total-cart text-right">
	<p>subtotal</p>
	<span id="sub-ins">{{totalIns}}</span>
	<span id="sub-cash">{{total}}</span>
</div>
